<div class="container">
    <h1 class="text-center" style="text-align: center;">Details</h1>
    <div class="row">
        <div class="col-4" *ngFor="let data of allPosts">
            <div class="card m-2">
                <div class="card-body bg-light ">
                    <img class="mb-2"  src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="" width="50%" height="150px">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h1>userid:{{data.userId}}</h1>
                        </li>
                        <li class="list-group-item">
                            <h1>id:{{data.id}}</h1>
                        </li>
                        <li class="list-group-item">
                            <p> <span class="fw-bolder">Title:</span> {{data.title}}</p>
                        </li>
                        <li class="list-group-item">
                            <p><span class="fw-bolder">Body:</span>{{data.body}}</p>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>